/**
 * My own theme. Based on the league theme.
 */
@import url(https://fonts.googleapis.com/css?family=Fira+Mono);
@import url(https://fonts.googleapis.com/css?family=Dosis);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/emojione/2.2.7/assets/css/emojione.min.css);
/*********************************************
 * GLOBAL STYLES
 *********************************************/
body {
  background: #fff;
  background-color: #fff; }

.reveal {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 28px;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.85); }

::selection {
  color: #fff;
  background: #FF5E99;
  text-shadow: none; }

::-moz-selection {
  color: #fff;
  background: #FF5E99;
  text-shadow: none; }

.reveal .slides > section,
.reveal .slides > section > section {
  line-height: 1.3;
  font-weight: inherit; }

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 1em 0;
  color: #000;
  font-family: "Dosis", "Open Sans", "Arial", sans-serif;
  font-weight: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-transform: none;
  text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.5);
  word-wrap: break-word; }

.reveal h1 {
  font-size: 2em; }

.reveal h2 {
  font-size: 1.5em; }

.reveal h3 {
  font-size: 1.25em; }

.reveal h4 {
  font-size: 1em; }

.reveal h1 {
  text-shadow: 0 2px 6px rgba(0, 0, 0, 0.5); }

/*********************************************
 * OTHER
 *********************************************/
.reveal p {
  margin: 1em 0;
  line-height: 1.3; }

/* Ensure certain elements are never larger than the slide itself */
.reveal img,
.reveal video,
.reveal iframe {
  max-width: 95%;
  max-height: 95%; }

.reveal strong,
.reveal b {
  font-weight: bold; }

.reveal em {
  font-style: italic; }

.reveal ol,
.reveal dl,
.reveal ul {
  display: inline-block;
  text-align: left;
  margin: 0 0 0 1em; }

.reveal ol {
  list-style-type: decimal; }

.reveal ul {
  list-style-type: disc; }

.reveal ul ul {
  list-style-type: square; }

.reveal ul ul ul {
  list-style-type: circle; }

.reveal ul ul,
.reveal ul ol,
.reveal ol ol,
.reveal ol ul {
  display: block;
  margin-left: 40px; }

.reveal dt {
  font-weight: bold; }

.reveal dd {
  margin-left: 40px; }

.reveal blockquote {
  display: block;
  position: relative;
  width: 70%;
  margin: 1em auto;
  padding: 5px;
  font-style: italic;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2); }

.reveal blockquote p:first-child,
.reveal blockquote p:last-child {
  display: inline-block; }

.reveal q {
  font-style: italic; }

.reveal pre {
  display: block;
  position: relative;
  width: 90%;
  margin: 1em auto;
  text-align: left;
  font-size: 0.55em;
  font-family: monospace;
  line-height: 1.2em;
  word-wrap: break-word;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3); }

.reveal code {
  font-family: monospace;
  text-transform: none; }

.reveal pre code {
  display: block;
  padding: 5px;
  overflow: auto;
  max-height: 400px;
  word-wrap: normal; }

.reveal table {
  margin: auto;
  border-collapse: collapse;
  border-spacing: 0; }

.reveal table th {
  font-weight: bold; }

.reveal table th,
.reveal table td {
  text-align: left;
  padding: 0.2em 0.5em 0.2em 0.5em;
  border-bottom: 1px solid; }

.reveal table th[align="center"],
.reveal table td[align="center"] {
  text-align: center; }

.reveal table th[align="right"],
.reveal table td[align="right"] {
  text-align: right; }

.reveal table tbody tr:last-child th,
.reveal table tbody tr:last-child td {
  border-bottom: none; }

.reveal sup {
  vertical-align: super; }

.reveal sub {
  vertical-align: sub; }

.reveal small {
  display: inline-block;
  font-size: 0.6em;
  line-height: 1.2em;
  vertical-align: top; }

.reveal small * {
  vertical-align: top; }

/*********************************************
 * LINKS
 *********************************************/
.reveal a {
  color: #3D5AFE;
  text-decoration: none;
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  transition: color .15s ease; }

.reveal a:hover {
  color: #71e9f4;
  text-shadow: none;
  border: none; }

.reveal .roll span:after {
  color: #fff;
  background: #0125ed; }

/*********************************************
 * IMAGES
 *********************************************/
.reveal section img {
  margin: 15px 0px;
  background: rgba(255, 255, 255, 0.12);
  border: 4px solid rgba(0, 0, 0, 0.85);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15); }

.reveal section img.plain {
  border: 0;
  box-shadow: none; }

.reveal a img {
  -webkit-transition: all .15s linear;
  -moz-transition: all .15s linear;
  transition: all .15s linear; }

.reveal a:hover img {
  background: rgba(255, 255, 255, 0.2);
  border-color: #3D5AFE;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55); }

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls {
  color: #3D5AFE; }

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2);
  color: #3D5AFE; }

.reveal .progress span {
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985); }

.reveal blockquote {
  background: rgba(100, 100, 100, 0.05); }

.reveal pre code {
  font-family: "Fira Mono", monospace;
  font-size: 1.25em; }

.reveal div.spaced {
  display: flex;
  align-content: space-around;
  justify-content: center;
  flex-wrap: wrap; }
  .reveal div.spaced > div, .reveal div.spaced span, .reveal div.spaced p {
    min-width: 480px; }

.reveal .footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: auto;
  z-index: 1;
  margin: 0.5em 1em; }
  .reveal .footer a {
    font-size: 2vh !important;
    margin-right: 1em;
    color: #3F51B5;
    align-items: center; }
  .reveal .footer i {
    font-size: 2.4vh;
    margin: 0 0.25em -0.15em 0; }

.reveal .accent {
  color: #E91E63; }

.reveal em {
  font-style: normal;
  color: #E91E63; }

.reveal .invert {
  color: #fff; }
  .reveal .invert h1, .reveal .invert h2, .reveal .invert h3, .reveal .invert h4 {
    color: #ccc; }

.reveal section .emojione {
  width: 1.5em;
  height: 1.5em;
  margin-bottom: -0.25em;
  border: none;
  box-shadow: none;
  background: none; }

.reveal section h1 .emojione, .reveal section h2 .emojione, .reveal section h3 .emojione, .reveal section h4 .emojione, .reveal section h5 .emojione {
  width: 1em;
  height: 1em;
  margin-bottom: -0.1em; }

.reveal section img {
  border: none;
  box-shadow: none;
  background: none; }

section.has-dark-background, .dark {
  color: rgba(255, 255, 255, 0.9); }
  section.has-dark-background h1, section.has-dark-background h2, section.has-dark-background h3, section.has-dark-background h4, .dark h1, .dark h2, .dark h3, .dark h4 {
    color: #fff; }
  section.has-dark-background a, .dark a {
    color: #fff; }
  section.has-dark-background em, .dark em {
    font-weight: bolder;
    color: #fff; }

.slide.has-dark-background > .footer a, .dark .footer a {
  color: #fff; }

.slide.has-light-background > .footer a .footer a, .light .footer a .footer a {
  color: #000; }
